.menu{
    background-color: rgb(203, 203, 203);
    border-radius: 5px;
}
.menu ul{
    display: flex;
    flex-direction: column;
    gap:25px;
}
.menu ul li{
    list-style: none;
    display: flex;
    gap:10px;
}
.menu ul li span{
    color:rgb(95, 95, 95);
}
.menu ul li a{
    text-decoration: none;
    color:rgb(95, 95, 95);
}